
body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 50px;
  /* background-color: #444; */
  color: black;
}
h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 50px;
    /* background-color: #444; */
    color: black;
  }
  
  h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 50px;
    /* background-color: #444; */
    color: black;
  }

.display-4{
    font-size: 100px;
}

#start-game {
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color:purple;
	color: white;
	border: 0px;
	border-radius: 20px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 100px;
}
.hide {
    display: none;
}
button:hover{
	background-color: purple;
}



.active-slide{
  opacity: 1;
  z-index: 2;
} 
.quiz-container{ 
  position: relative;
  height: 200px;
  margin-top: 40px;
}
.choices { 
	background-color: purple;
color:white;
width: 250px;
margin: 10px;
display: block;
}